<template>

    <a v-link="{ path: path }"
        :class="[ looseMode ? 'loose' : 'tight' ]"
        class="course-item">
        <div class="row clearfix">
            <p class="course-name text-primary font-large col-left">
                {{ course.name }}
            </p>
            <p class="course-field font-small col-right">
                {{ course.field }}
            </p>
        </div>
        <div class="row clearfix">
            <p class="course-time-location font-small col-left">
                {{ timeLocation }}
            </p>
            <p class="course-left font-large col-right">
                剩余
                <span
                    :class="[ highlightDigit ? 'highlight' : '' ]"
                    class="digit">
                    {{ course.left }}
                </span>
                个名额
            </p>
        </div>
        <div v-if="enableBtn" class="row clearfix">
            <div class="col-left">
                <slot name="btn-left"></slot>
            </div>
            <div class="col-right">
                <slot name="btn-right"></slot>
            </div>
        </div>
    </a>

</template>

<script>

    import { formatTimeLocation } from "./util";

    export default {
        props: {
            course: {
                type: Object,
                required: true,
            },
            enableBtn: {
                type: Boolean,
                default: false,
            },
            highlightDigit: {
                type: Boolean,
                default: false,
            },
            looseMode: {
                type: Boolean,
                default: false,
            },
        },
        computed: {
            timeLocation() {
                return formatTimeLocation(this.course);
            },
            path() {
                return `/detail/${this.course.number}`;
            },
        },
    };

</script>

<style src="./style.css" scoped></style>

<style scoped>

    .digit {
        font-weight: 900;
    }

    [data-device="other"] .digit {
        color: #f98b49;
    }

    .digit.highlight {
        color: #f98b49;
    }

    [data-device="other"] .digit.highlight {
        color: #00838f;
    }

</style>
