<template>

    <div class="course-chart clearfix">
        <chart
            v-for="title in titles"
            :title="title"
            :series="series[$index]"
            :responsive="false"
            :legend-detail="false"
            class="chart">
        </chart>
    </div>

</template>

<script>

    import Chart from "module/pc/Chart";

    export default {
        components: {
            Chart,
        },
        props: {
            course: {
                type: Object,
                default: {},
            },
        },
        data() {
            return {
                defaultData: [ 1, 1, 1 ],
                keys: [ "attendance", "quality", "score" ],
                titles: [ "考勤力度", "授课质量", "给分情况" ],
                legends: [
                    [ "毫无压力", "偶尔点点", "逢课必点" ],
                    [ "引人入胜", "中规中矩", "照本宣科" ],
                    [ "90-100", "80-90", "0-80" ],
                ],
            };
        },
        computed: {
            scores() {
                return (this.course.scores || {});
            },
            series() {
                return this.keys.map(
                    (key, index) =>
                        this.legends[index].map((legend, sub) => [
                            legend,
                            (this.scores[key] || this.defaultData)[sub],
                        ])
                );
            },
        },
    };

</script>

<style scoped>

    .chart {
        float: left;
        width: 33.33%;
        height: 216px;
    }

</style>
