<template>

    <div class="course-search">
        <span
            class="icon-search">
        </span>
        <input
            v-model="key"
            :value="searchKey"
            type="text"
            class="input-search"
            placeholder="课程名/教师名">
    </div>

</template>

<script>

    import { debounce } from "util";

    export default {
        props: {
            search: {
                type: Function,
                default: () => {},
            },
            searchKey: {
                type: String,
                default: "",
            },
        },
        data() {
            return {
                key: "",
            };
        },
        watch: {
            key() {
                this.submitDebounce();
            },
        },
        methods: {
            submitDebounce: debounce(function submit() {
                this.search(this.key.trim());
            }),
        },
    };

</script>

<style scoped>

    .course-search {
        width: 195px;
        height: 30px;
        background: #b59e9c;
        font-size: 14px;
        line-height: 30px;
        border-radius: 5px;
        box-shadow: 0 0 3px #fff;
        box-sizing: border-box;
        overflow: hidden;
    }

    .icon-search {
        left: 5px;
        top: 5px;
        width: 20px;
        height: 20px;
        background: url(../../../image/pc/icon_search.png) no-repeat scroll center center;
        position: absolute;
    }

    .input-search {
        width: 100%;
        height: 100%;
        padding-left: 30px;
        padding-right: 10px;
        color: #fff;
        border: 0;
        box-sizing: border-box;
    }

</style>
