<template>

    <paginator
        :pagination="pagination"
        :load-page="loadCourses">
        <ul class="list">
            <li v-for="course in list"
                class="list-item">
                <p class="course-number float-left">
                    {{ $index + 1 }}
                </p>
                <div class="course-detail float-left">
                    <p class="course-name">
                        {{ course.name }}
                    </p>
                    <p>
                        <span class="course-teacher float-left">
                            {{ course.teacher }}
                        </span>
                        <span
                            v-if="course.timePreview"
                            class="course-time-preview float-left">
                            {{ course.timePreview }}
                        </span>
                        <span class="course-academy float-left">
                            {{ course.academy }}
                        </span>
                    </p>
                </div>
                <div class="course-time-list">
                    <p v-for="item in course.time">
                        {{ item }}
                    </p>
                </div>
                <div :class="course.starClass">
                </div>
            </li>
        </ul>
        <p v-if="!isLoading && (list.length === 0)"
            class="hint">
            没有找到符合要求的课程呢(；′⌒`)
        </p>
        <loading
            v-ref:loading>
        </loading>
    </paginator>

</template>

<script>

    import Loading from "module/pc/Loading";
    import Paginator from "module/pc/Paginator";

    export default {
        components: {
            Loading,
            Paginator,
        },
        props: {
            pagination: {
                type: Object,
                default() {
                    return {
                        page: -1,
                        numPages: 0,
                    };
                },
            },
            courseList: {
                type: Array,
                default() {
                    return [];
                },
            },
            isLoading: {
                type: Boolean,
                default: false,
            },
            loadCourses: {
                type: Function,
                default: () => {},
            },
        },
        data() {
            return {
                weekdayMap: [
                    "", "一", "二", "三", "四", "五", "六", "日",
                ],
            };
        },
        computed: {
            list() {
                return (
                    this.isLoading ?
                    [] :
                    this.courseList.map(course => {
                        let { time } = course;
                        if (!(time instanceof Array)) {
                            time = [ time ];
                        }
                        time = this.formatTime(...time);

                        const { rank } = course;
                        return Object.assign(
                            {},
                            course,
                            {
                                time,
                                timePreview: time[0],
                                starClass: `star star-${rank}`,
                            }
                        );
                    })
                );
            },
        },
        watch: {
            isLoading(value) {
                if (value) {
                    this.$refs.loading.startLoading({
                        contents: [ "努力加载中，客官稍等片刻~" ],
                    });
                }
                else {
                    this.$refs.loading.endLoading();
                }
            },
        },
        methods: {
            isValid(...values) {
                return values.every(value => {
                    const type = typeof value;
                    return (
                        (
                            (type === "string") && !!value.length
                        ) ||
                        (type === "number")
                    );
                });
            },
            formatTime(...list) {
                const ret = [];
                list.forEach(item => {
                    const {
                        weekFrom,
                        weekTo,
                        weekday,
                        classBegin,
                        classOver,
                        location,
                    } = item;

                    const items = [];
                    if (this.isValid(weekday)) {
                        items.push(`星期${this.weekdayMap[weekday]}`);
                    }
                    if (this.isValid(weekFrom, weekTo)) {
                        items.push(`${weekFrom}-${weekTo}周`);
                    }
                    if (this.isValid(classBegin, classOver)) {
                        items.push(`${classBegin}-${classOver}节`);
                    }
                    if (this.isValid(location)) {
                        items.push(location);
                    }

                    if (items.length > 0) {
                        ret.push(items.join("，"));
                    }
                });
                return ret;
            },
        },
    };

</script>

<style scoped>

    .list-item {
        height: 65px;
        padding: 10px;
        border-bottom: 2px solid #D5D5D5;
        box-sizing: border-box;
        position: relative;
    }

    .course-number {
        width: 45px;
        height: 45px;
        margin-right: 25px;
        border-radius: 50%;
        text-align: center;
        line-height: 45px;
        color: rgb(252, 254, 250);
        background: rgb(229, 219, 134);
        font-size: 24px;
        font-weight: 600;
    }

    .list-item:nth-child(1) .course-number {
        background: rgb(245, 127, 131);
    }

    .list-item:nth-child(2) .course-number{
        background-color: rgb(101, 177, 211);
    }

    .list-item:nth-child(3) .course-number{
        background-color: rgb(133, 217, 133);
    }

    .course-detail {
        float: left;
        height: 100%;
        color: rgb(164, 164, 164);
        font-size: 12px;
        line-height: 1.5;
        position: relative;
    }

    .course-name {
        margin-bottom: 5px;
        font-size: 14px;
        color: rgb(116, 115, 115);
    }

    .course-teacher,
    .course-time-preview {
        margin-right: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .course-teacher {
        width: 40px;
    }

    .course-time-preview {
        width: 200px;
    }

    .course-time-list {
        right: 210px;
        top: 10px;
        padding: 10px;
        font-size: 14px;
        color: #fff;
        background: rgba(59, 60, 62, .5);
        position: absolute;
        opacity: 0;
        transform: scale(0.8, 0.6);
        transition: all .5s ease;
    }

    .list-item:hover .course-time-list {
        opacity: 1;
        transform: scale(1);
    }

    .star {
        right: 0;
        top: 50%;
        width: 200px;
        height: 30px;
        margin-top: -15px;
        background: url(../../../image/pc/star.png) scroll no-repeat;
        position: absolute;
    }

    .star-1{
        background-position: 0 0;
    }

    .star-2{
        background-position: 0 -35px;
    }

    .star-3{
        background-position: 0 -68px;
    }

    .star-4{
        background-position: 0 -100px;
    }

    .star-5{
        background-position: 0 -130px;
    }

    .star-0{
        background-position: 0 -130px;
    }

    .hint {
        text-align: center;
        line-height: 45px;
    }

</style>
