<template>

    <div class="feedback">
        <a @click="showPopup"
            class="btn-feedback">
        </a>
        <popup
            v-ref:popup>
            <div class="form">
                <div class="form-row">
                    <label class="form-inline label-input">
                        <input
                            v-model="form.isLike"
                            name="isLike"
                            type="radio"
                            :value="true">
                        夸我们一下~
                    </label>
                    <label class="form-inline label-input">
                        <input
                            v-model="form.isLike"
                            name="isLike"
                            type="radio"
                            :value="false">
                        骂我们一下(ಥ _ ಥ)
                    </label>
                </div>
                <div class="form-row">
                    <label class="form-title">
                        评价
                    </label>
                    <textarea
                        v-model="form.feedback"
                        class="text-feedback"
                        autofocus>
                    </textarea>
                </div>
                <div class="form-row">
                    <label class="form-title">
                        联系方式
                    </label>
                    <input
                        v-model="form.contact"
                        class="text-contact"
                        type="text">
                    <p class="hint">
                        请务必留下联系方式哟，不然淘淘没办法跟小主反馈呢\(≧▽≦)/
                    </p>
                </div>
                <div class="form-row form-control">
                    <span
                        v-if="hasHint"
                        transition="fade"
                        class="hint">
                        {{ hint }}
                    </span>
                    <button
                        @click="submit"
                        type="button"
                        class="btn bg-green"
                        :disabled="isWaiting">
                        {{ btnText }}
                    </button>
                </div>
            </div>
        </popup>
    </div>

</template>

<script>

    import Popup from "module/pc/Popup";

    import Promise from "promise";

    export default {
        components: {
            Popup,
        },
        props: {
            saveFeedback: {
                type: Function,
                default: () => Promise.resolve(),
            },
        },
        data() {
            return {
                form: {
                    isLike: true,
                    feedback: "",
                    contact: "",
                },
                isWaiting: false,
                hasHint: false,
            };
        },
        computed: {
            btnText() {
                return (this.isWaiting ? "正在提交..." : "提交");
            },
        },
        methods: {
            showPopup() {
                this.$refs.popup.show({
                    title: "用户反馈",
                });
            },
            hidePopup() {
                this.$refs.popup.hide();
            },
            showHint(hint) {
                this.hasHint = true;
                this.hint = hint || "失败了呢：（";
            },
            hideHint() {
                this.hasHint = false;
            },
            resetForm() {
                Object.assign(this.form, {
                    isLike: true,
                    feedback: "",
                    contact: "",
                });
            },
            startWaiting(promise) {
                if (!promise.then || this.isWaiting) {
                    return Promise.reject();
                }

                const end = () => (this.isWaiting = false);
                this.isWaiting = true;
                this.hideHint();
                return promise.then(end).catch((...errors) => {
                    this.showHint();
                    end();
                    return Promise.reject(...errors);
                });
            },
            submit() {
                this.startWaiting(this.saveFeedback(this.form))
                    .then(() => {
                        this.resetForm();
                        this.showHint("提交成功了哦~");
                    });
            },
        },
    };

</script>

<style scoped>

    .btn-feedback {
        bottom: 10%;
        width: 80px;
        height: 38px;
        margin-left: -100px;
        background: url(../../../image/pc/feedback.png) scroll no-repeat;
        position: fixed;
    }

    .btn-feedback:hover {
        background-image: url(../../../image/pc/feedback_hover.png);
    }

    .form {
        margin-top: 20px;
        line-height: 1.5;
    }

    .form-row {
        margin-top: 5px;
    }

    .form-control {
        margin-top: 15px;
        font-size: 15px;
        text-align: right;
    }

    .form-inline {
        margin-right: 0.75em;
        letter-spacing: .1em;
    }

    .label-input {
        cursor: pointer;
        user-select: none;
    }

    .label-input:active {
        opacity: .8;
    }

    .form-title {
        line-height: 2.5;
        letter-spacing: 1px;
    }

    .hint {
        margin: 3px 0;
        font-size: 12px;
        letter-spacing: 0;
        color: #888;
    }

    .form-control .hint {
        font-size: inherit;
        margin-right: .5em;
    }

</style>
