<template>

    <ul class="nav">
        <template v-if="hasLoggedIn">
            <li class="nav-item">
                <a v-link="{ path: '/' }"
                    class="btn">
                    <span class="grid-common icon-home">
                    </span>
                    个人主页
                </a>
            </li>
            <li class="nav-item">
                <a @click="logOut"
                    class="btn">
                    退出登录
                </a>
            </li>
        </template>
        <li v-else
            class="nav-item">
            <a v-link="{ path: '/login' }"
                class="btn">
                <span class="grid-common icon-user">
                </span>
                登录
            </a>
        </li>
    </ul>

</template>

<script>

    export default {
        props: {
            hasLoggedIn: {
                type: Boolean,
                default: false,
            },
            logOut: {
                type: Function,
                default: () => {},
            },
        },
    };

</script>

<style scoped>

    .nav-item {
        float: left;
        margin-left: 5px;
        line-height: 23px;
        font-size: 14px;
    }

    .btn {
        padding: 0 3px;
        background: #2c2c2c;
        border-radius: 6px;
        opacity: .8;
    }

    .btn,
    .btn:hover {
        color: rgba(255, 255, 255, .8);
        background: #4d4d4d;
    }

    .icon-home,
    .icon-user {
        float: left;
        margin-top: 4px;
        margin-right: 1px;
    }

</style>
