<template>

    <field
        title="排行榜">
        <tab-sheet
            :datasets="datasets">
            <div slot="blank">
                <p class="leader-board-hint">
                    点评完所有上过的选修课才能看到我哟~
                </p>
                <p class="leader-board-hint">
                    现在就去
                    <a class="leader-board-link"
                        v-link="{ path: '/student/collected' }">
                        点评
                    </a>
                    吧
                </p>
            </div>
        </tab-sheet>
        <popup
            v-ref:popup
            class="popup">
            <h3>课程时间</h3>
            <div class="content">
                <ul class="list">
                    <li class="list-item clearfix">
                        <p class="label">
                            课程：
                        </p>
                        <p class="value">
                            {{ course.name }}
                        </p>
                    </li>
                    <li class="list-item clearfix">
                        <p class="label">
                            时间：
                        </p>
                        <ul class="value">
                            <li v-for="course in course.coursesTime">
                                <a v-link="{ path: course.path }"
                                    @click="hidePopup"
                                    class="list-item-link">
                                    {{ course.time }}
                                </a>
                            </li>
                            <li>
                                <p>点击时间查看该时间课程详情</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </popup>
    </field>

</template>

<script>

    import Field from "module/pc/Field";
    import Popup from "module/pc/Popup";
    import TabSheet from "module/pc/TabSheet";

    export default {
        components: {
            Field,
            Popup,
            TabSheet,
        },
        props: {
            leaderBoard: {
                type: Object,
                default() {
                    return {};
                },
            },
        },
        data() {
            return {
                keys: [ "score", "quality", "attendance", "boy", "girl" ],
                datasetsBase: [
                    {
                        label: "给分",
                        value: "score",
                        description: "简直业界良心啊",
                    },
                    {
                        label: "授课",
                        value: "quality",
                        description: "大家都说好评呀",
                    },
                    {
                        label: "考勤",
                        value: "attendance",
                        description: "老师这节课又没点",
                    },
                    {
                        label: "男生",
                        value: "boy",
                        description: "这门课的男孩子最多啦",
                    },
                    {
                        label: "女生",
                        value: "girl",
                        description: "这门课的女孩子最多啦",
                    },
                ],
                weekdayMap: [
                    "", "一", "二", "三", "四", "五", "六", "日",
                ],
                course: {},
            };
        },
        computed: {
            datasets() {
                return this.datasetsBase.map(
                    (item, index) => {
                        const key = this.keys[index];
                        const courses = this.leaderBoard[key];
                        const list = (
                            (courses instanceof Array) &&
                            courses.map(
                                course => {
                                    const { name, number } = course;
                                    return {
                                        name,
                                        path: `/course/public/elective/${number}`,
                                        onClick: event => this.showCoursesTime(event, course),
                                    };
                                }
                            )
                        );
                        return Object.assign(
                            {},
                            item,
                            { list }
                        );
                    }
                );
            },
        },
        methods: {
            isValid(...values) {
                return values.every(value => {
                    const type = typeof value;
                    return (
                        (
                            (type === "string") && !!value.length
                        ) ||
                        (type === "number")
                    );
                });
            },
            formatTime(course) {
                const {
                    weekFrom,
                    weekTo,
                    weekday,
                    classBegin,
                    classOver,
                } = course;

                const items = [];
                if (this.isValid(weekFrom, weekTo)) {
                    items.push(`${weekFrom}-${weekTo}周`);
                }
                if (this.isValid(weekday)) {
                    items.push(`周${this.weekdayMap[weekday]}`);
                }
                if (this.isValid(classBegin, classOver)) {
                    items.push(`${classBegin}-${classOver}节`);
                }

                return items.join("，");
            },
            formatTimeLocation(course) {
                const time = this.formatTime(course);
                const { location } = course;
                const items = [];
                if (this.isValid(time)) {
                    items.push(time);
                }
                if (this.isValid(location)) {
                    items.push(location);
                }
                return (!!items.length ? items.join("，") : "未知");
            },
            showCoursesTime(event, course) {
                if (course.otherCourses.length === 0) {
                    return;
                }

                const courses = [].concat.apply(course.otherCourses, [ course ]);
                const coursesTime = courses.map(course => ({
                    time: this.formatTimeLocation(course),
                    path: `/course/public/elective/${course.number}`,
                }));
                this.course = Object.assign(
                    {},
                    course,
                    { coursesTime }
                );

                event.preventDefault();
                this.showPopup();
            },
            showPopup() {
                this.$refs.popup.show();
            },
            hidePopup() {
                this.$refs.popup.hide();
            },
        },
    };

</script>

<style scoped>

    .leader-board-hint {
        padding-top: 1em;
        font-size: 12px;
        line-height: 22px;
        color: #989898;
    }

    .leader-board-link {
        color: #ff5d00;
        text-decoration: underline;
    }

    .popup h3 {
        margin: .2em 0;
        font-size: 16px;
    }

    .popup .content {
        min-width: 400px;
    }

    .popup .list-item {
        padding: 0 0.5em;
    }

    .popup .label {
        float: left;
        width: 45px;
        min-height: 1px;
    }

    .popup .value {
        float: left;
    }

    .popup .list-item-link {
        color: #006ecc;
    }

</style>
