<template>

    <div class="avatar">
        <div
            :style="avatarStyle"
            class="img-avatar">
        </div>
        <div class="avatar-select">
            <ul class="btn-list">
                <li class="btn-item">
                    <a @click="updateAvatar"
                        class="btn-modify">
                        随机头像
                    </a>
                </li>
                <li class="btn-item">
                    <a @click="showPopup"
                        class="btn-modify">
                        编辑头像
                    </a>
                </li>
            </ul>
            <popup
                v-ref:popup>
                <div class="body clearfix">
                    <div class="half">
                        <p class="title-bar clearfix">
                            <label class="float-left">
                                <a class="link">
                                    选择图片
                                </a>
                                <input
                                    v-el:avatar-input
                                    @change="selectImage"
                                    type="file"
                                    class="avatar-input">
                            </label>
                        </p>
                        <div class="crop img-container">
                            <img
                                v-el:img-cropper
                                class="img-cropper"
                                :src="imgCropping">
                        </div>
                    </div>
                    <div class="half">
                        <p class="title-bar">预览</p>
                        <div class="preview">
                        </div>
                    </div>
                </div>
                <div class="control">
                    <span
                        v-if="hasError"
                        transition="fade"
                        class="hint">
                        失败了呢：（
                    </span>
                    <button
                        @click="submitAvatar"
                        class="btn bg-green">
                        {{ btnText }}
                    </button>
                </div>
            </popup>
        </div>
    </div>

</template>

<script>

    import Popup from "module/pc/Popup";

    import { dataURLToBlob } from "util";

    import Cropper from "cropperjs";
    import "cropperjs/dist/cropper.css";

    import Promise from "promise";

    export default {
        components: {
            Popup,
        },
        props: {
            avatar: {
                type: String,
                default: "",
            },
            updateAvatar: {
                type: Function,
                default: () => {},
            },
            saveAvatar: {
                type: Function,
                default: () => Promise.reject(),
            },
        },
        data() {
            return {
                cropper: null,
                imgSelected: null,
                form: null,
                requireUpdating: false,
                isWaiting: false,
                hasError: false,
            };
        },
        computed: {
            avatarStyle() {
                return {
                    backgroundImage: `url(${this.avatar})`,
                };
            },
            imgCropping() {
                return (this.imgSelected || this.avatar);
            },
            btnText() {
                return (this.isWaiting ? "正在提交..." : "提交");
            },
        },
        watch: {
            imgCropping() {
                if (this.$refs.popup.enable) {
                    this.updateCropper();
                }
                else {
                    this.requireUpdating = true;
                }
            },
        },
        methods: {
            showPopup() {
                this.$refs.popup.show({
                    title: "编辑头像",
                });

                setTimeout(() => {
                    if (!this.cropper) {
                        this.cropper = new Cropper(this.$els.imgCropper, {
                            viewMode: 1,
                            aspectRatio: 1,
                            preview: ".preview",
                            minContainerWidth: 134,
                            minContainerHeight: 134,
                        });
                    }
                    else {
                        this.updateCropper();
                    }
                }, 10);
            },
            hidePopup() {
                this.$refs.popup.hide();
            },
            getRandomAvatarWrapper() {
                this.getRandomAvatar()
                    .then(({ avatar }) => (this.imgSelected = avatar));
            },
            updateCropper() {
                if (!!this.cropper) {
                    this.form = null;
                    this.cropper.replace(this.imgCropping);
                }
                this.requireUpdating = false;
            },
            selectImage() {
                const createURL = window.URL.createObjectURL;
                this.imgSelected = createURL(this.$els.avatarInput.files[0]);
            },
            updateForm() {
                if (!!this.form) {
                    return;
                }

                let canvas = this.cropper.getCroppedCanvas();
                if (canvas.width > 134) {
                    const scaleCanvas = document.createElement("canvas");
                    scaleCanvas.setAttribute("width", 134);
                    scaleCanvas.setAttribute("height", 134);

                    const context = scaleCanvas.getContext("2d");
                    context.drawImage(canvas, 0, 0, 134, 134);
                    canvas = scaleCanvas;
                }

                const dataURL = canvas.toDataURL("image/jpg", 0.1);
                const blob = dataURLToBlob(dataURL, { type: "image/jpg" });

                this.form = new FormData();
                this.form.append("avatar", blob);
            },
            startWaiting(promise) {
                if (promise.then && !this.isWaiting) {
                    this.hasError = false;
                    this.isWaiting = true;
                    return promise.then(this.endWaiting)
                        .catch(() => {
                            this.hasError = true;
                            this.endWaiting();
                        });
                }
                return Promise.resolve();
            },
            endWaiting() {
                this.isWaiting = false;
            },
            submitAvatar() {
                this.updateForm();
                this.startWaiting(
                    this.saveAvatar(this.form)
                        .then(() => this.hidePopup())
                );
            },
        },
    };

</script>

<style scoped>

    .avatar {
        position: relative;
    }

    .img-avatar {
        width: 100%;
        height: 100%;
        max-width: 100%;
        border-radius: 50%;
        background: transparent scroll no-repeat center center / cover;
    }

    .avatar-select {
        left: -100px;
        top: 65px;
        position: absolute;
    }

    .btn-item:not(:first-child) {
        margin-top: 10px;
    }

    .btn-modify {
        padding: 0 10px;
        color: #222;
        border-radius: 3px;
        font-size: 12px;
        line-height: 2;
        text-shadow: 1px 1px #fff;
        border: 1px solid #ccc;
        opacity: 1;
        box-shadow: 0 0 0 .2px rgba(0, 0, 0, .2);
    }

    .btn-modify {
        opacity: .9;
    }

    .body {
        margin: 15px 20px;
    }

    .half {
        float: left;
        width: 50%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .link,
    .link:hover {
        color: #2080d2;
    }

    .title-bar {
        width: 134px;
        line-height: 3;
    }

    .crop,
    .preview {
        width: 134px !important;
        height: 134px !important;
        overflow: hidden;
    }

    .preview {
        border-radius: 50%;
        overflow: hidden;
    }

    .avatar-input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
    }

    .control {
        text-align: right;
    }

    .hint {
        margin-right: .5em;
    }

</style>
