<template>

    <field
        title="待评价的选修课"
        sub="去写评论吧，好人一生平安～"
        class="student-uncomment">
        <ul v-if="list.length > 0"
            class="list clearfix">
            <li v-for="item in list"
                class="list-item float-left">
                <a v-link="{ path: item.path }"
                    class="list-item-link">
                    {{ item.label }}
                </a>
            </li>
        </ul>
        <p v-else>
            喵，你已经没有待评价的选修课了哦
        </p>
    </field>

</template>

<script>

    import Field from "module/pc/Field";

    export default {
        components: {
            Field,
        },
        props: {
            uncomment: {
                type: Array,
                default() {
                    return [];
                },
            },
        },
        computed: {
            list() {
                return this.uncomment.map(course => ({
                    label: `${course.name} - ${course.teacher}`,
                    path: `/course/public/elective/${course.number}?comment=true`,
                }));
            },
        },
    };

</script>

<style scoped>

    ul {
        display: inline-block;
    }

    .list-item {
        padding: 7px 0;
        font-size: 14px;
    }

    .list-item {
        margin-left: 1.2em;
    }

    .list-item-link,
    .list-item-link:hover {
        color: #006ecc;
    }

    .list-item-link:hover {
        text-decoration: underline;
    }

</style>
