<template>


    <ul class="list clearfix">
        <li v-for="course in processed"
            class="list-item">
            <p class="course-weekday">
                {{ course.weekday }}
            </p>
            <course-field
                :field="course.field">
            </course-field>
            <div class="course-detail">
                <p>
                    <span class="course-name">
                        {{ $index + 1 }}.
                        <a v-link="{ path: course.path }">
                            {{ course.name }}
                        </a>
                    </span>
                    <span class="course-credit">
                        {{ course.credit }}
                    </span>
                </p>
                <p>
                    {{ course.timeLocation }}
                </p>
            </div>
            <div class="operation">
                <loading-btn
                    :work="deleteSelectingWrapper(course)"
                    class="operation-delete">
                    <span class="grid-student icon-delete"></span>
                    删除
                </loading-btn>
                <loading-btn
                    v-if="btnCirculating"
                    :work="updateSelectingWrapper(course)"
                    :class="[ course.hasCirculated ? 'selected' : '' ]"
                    class="operation-circulate">
                    <span class="grid-student icon-infinite"></span>
                    无限选课
                </loading-btn>
            </div>
        </li>
    </ul>

</template>

<script>

    import LoadingBtn from "module/common/LoadingBtn";
    import CourseField from "module/pc/CoursePublicElectiveField";

    export default {
        components: {
            LoadingBtn,
            CourseField,
        },
        props: {
            list: {
                type: Array,
                default: () => [],
            },
            btnCirculating: {
                type: Boolean,
                default: true,
            },
            deleteSelecting: {
                type: Function,
                default: () => Promise.resolve(),
            },
            updateSelecting: {
                type: Function,
                default: () => Promise.resolve(),
            },
        },
        data() {
            return {
                weekdayMap: [ "", "一", "二", "三", "四", "五", "六", "日" ],
            };
        },
        computed: {
            processed() {
                return this.list.map(course => this.formatCourse(course))
                    .sort(({ weekday }) => weekday);
            },
        },
        methods: {
            isValid(...values) {
                return values.every(value => {
                    const type = typeof value;
                    return (
                        (
                            (type === "string") && !!value.length
                        ) ||
                        (type === "number")
                    );
                });
            },
            formatCourse(course) {
                return Object.assign({}, course, {
                    path: `/course/public/elective/${course.number}`,
                    credit: `${course.credit}学分`,
                    weekday: this.formatWeekday(course),
                    timeLocation: this.formatTimeLocation(course),
                });
            },
            formatWeekday({ weekday }) {
                return (
                    this.isValid(weekday) ?
                    `周${this.weekdayMap[weekday]}` :
                    "未知"
                );
            },
            formatTime(course) {
                const {
                    weekFrom,
                    weekTo,
                    weekday,
                    classBegin,
                    classOver,
                } = course;

                const items = [];
                if (this.isValid(weekFrom, weekTo)) {
                    items.push(`${weekFrom}-${weekTo}周`);
                }
                if (this.isValid(weekday)) {
                    items.push(`周${this.weekdayMap[weekday]}`);
                }
                if (this.isValid(classBegin, classOver)) {
                    items.push(`${classBegin}-${classOver}节`);
                }

                return items.join("，");
            },
            formatTimeLocation(course) {
                const time = this.formatTime(course);
                const { location } = course;
                const items = [];
                if (this.isValid(time)) {
                    items.push(time);
                }
                if (this.isValid(location)) {
                    items.push(location);
                }
                return (!!items.length ? items.join("，") : "未知");
            },
            deleteSelectingWrapper(course) {
                return () => this.deleteSelecting(course);
            },
            updateSelectingWrapper(course) {
                const { hasCirculated } = course;
                return () => this.updateSelecting(course)
                    .then(() => {
                        if (!hasCirculated) {
                            this.showPopup();
                        }
                    });
            },
        },
    };

</script>

<style scoped>

    .list {
        width: 100%;
        display: inline-block;
    }

    .list-item {
        padding: 5px 30px;
        height: 59px;
        border-bottom: 1px solid #aeaeae;
        box-sizing: border-box;
        position: relative;
    }

    .list-item:first-child {
        border-top: 1px solid #aeaeae;
    }

    .list-item:hover {
        background-color: #f3f8f4;
    }

    .course-weekday {
        left: 30px;
        color: #fd7100;
        font-size: 14px;
        line-height: 22px;
        position: absolute;
    }

    .course-field {
        right: 30px;
        top: 6px;
        position: absolute;
    }

    .course-detail {
        left: 90px;
        color: #999;
        font-size: 12px;
        line-height: 22px;
        position: absolute;
    }

    .course-name {
        margin-right: 1.5em;
        color: #737373;
        font-size: 14px;
    }

    .operation {
        right: 30px;
        bottom: 4px;
        color: #a8a8a8;
        font-size: 12px;
        height: 17px;
        position: absolute;
    }

    .operation-circulate {
        margin-left: 1.5em;
    }

    .operation-delete:hover {
        color: #f17868;
    }

    .icon-delete {
        width: 14px;
        height: 12px;
        background-position: -400px -80px;
        transform: translateY(2px);
    }

    .operation-delete:hover .icon-delete {
        background-position: -420px -80px;
    }

    .operation-circulate.selected,
    .operation-circulate:hover {
        color: #77cdbe;
    }

    .operation-circulate.selected .icon-infinite,
    .operation-circulate:hover .icon-infinite {
        background-position: -360px -160px;
    }

</style>
