<template>

    <div @click="back" class="back">
        <span :class="[ black ? 'icon-black' : '' ]" class="icon icon-back"></span>
        <span v-if="title" class="back-title">{{ title }}</span>
    </div>

</template>

<script>

    export default {
        props: {
            back: {
                type: Function,
                required: true,
            },
            black: {
                type: Boolean,
                default: false,
            },
            title: {
                type: String,
                default: null,
            },
        },
    };

</script>

<style scoped>

    .back-title {
        margin-left: .133333rem;
    }

</style>
