<template>

    <div class="comment-item clearfix">
        <div class="item-avatar float-left">
            <img :src="student.avatar">
        </div>
        <div class="item-detail float-left">
            <div class="detail-header row clearfix">
                <p class="col-left">{{ student.name }}</p>
                <p class="col-right">{{ comment.time }}</p>
            </div>
            <p class="detail-content">{{ comment.content }}</p>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            comment: {
                type: Object,
                required: true,
            },
        },
        computed: {
            student() {
                return (this.comment.student || {});
            },
        },
    };

</script>

<style scoped>

    .comment-item {
        padding-left: 1.666667rem;
        padding-right: .333333rem;
        margin-bottom: 0.133333rem;
        position: relative;
    }

    .item-avatar {
        left: .333333rem;
        top: .333333rem;
        width: 1.0rem;
        height: 1.0rem;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
    }

    .item-avatar > img {
        width: 100%;
        height: 100%;
    }

    .item-detail {
        width: 100%;
        padding: .333333rem 0;
        border-bottom: 1px solid #c9c9c9;
        line-height: 1.5;
        box-sizing: border-box;
    }

    .detail-header {
        margin-bottom: .133333rem;
        color: #757575;
        font-size: 11px;
    }

    [data-dpr="2"] .detail-header {
        font-size: 22px;
    }

    [data-dpr="3"] .detail-header {
        font-size: 33px;
    }

    .detail-content {
        color: #3d3d3d;
        font-size: 14px;
    }

    [data-dpr="2"] .detail-content {
        font-size: 28px;
    }

    [data-dpr="3"] .detail-content {
        font-size: 42px;
    }

    .col-left {
        float: left;
    }

    .col-right {
        float: right;
    }

</style>
