<template>

    <div
        :class="[ (value !== null) ? 'active' : '' ]"
        class="level-select clearfix">
        <div
            :style="progressStyle"
            class="progress-bar">
        </div>
        <span v-for="item in datasets"
            @click="select($index)"
            :style="{ 'width': width + '%' }"
            :class="[ state[$index] ? 'active' : '' ]"
            class="level-item">
            {{ (value !== null) ? item.label : inactive }}
        </span>
    </div>

</template>

<script>

    export default {
        props: {
            value: {
                sync: true,
                default: null,
            },
            inactive: {
                type: String,
                default: "无",
            },
            datasets: {
                type: Array,
                required: true,
            },
        },
        data() {
            return {
                index: null,
            };
        },
        computed: {
            size() {
                return this.datasets.length;
            },
            width() {
                return (100 / this.size);
            },
            state() {
                return this.datasets.map(
                    (item, index) => (index === this.index) || (this.value === null) && (index === 0)
                );
            },
            progressStyle() {
                const width = (this.value !== null) ? ((this.index + 1) * this.width + "%") : 0;
                return { width };
            },
        },
        methods: {
            select(index) {
                this.index = index;
                this.value = this.datasets[index].value;
            },
        },
    };

</script>

<style scoped>

    .level-select {
        float: left;
        width: 100%;
        height: 100%;
        background: #eee;
        border-radius: .133333rem;
        color: #3d3d3d;
        text-align: center;
        display: inline-block;
        position: relative;
        overflow: hidden;
    }

    .level-select.active {
        color: #fff;
    }

    .progress-bar {
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background: #f98a4a;
        position: absolute;
        transition: width .5s ease;
        z-index: 1;
    }

    .level-item {
        float: left;
        color: transparent;
        box-sizing: border-box;
        transition: color .5s ease;
        position: relative;
        z-index: 2;
    }

    .level-item.active {
        color: inherit;
    }

    .level-item:not(:first-child) {
        border-right: .04rem solid #fff;
    }

</style>
