<template>

    <div :class="classList" class="nav">
        <div class="nav-left">
            <slot name="nav-left"></slot>
        </div>
        <div class="nav-body">
            <slot name="nav-body"></slot>
        </div>
        <div class="nav-right">
            <slot name="nav-right"></slot>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            lightMode: {
                type: Boolean,
                default: false,
            },
            borderBottom: {
                type: Boolean,
                default: false,
            },
        },
        computed: {
            classList() {
                return {
                    light: this.lightMode,
                    "border-bottom": this.borderBottom,
                };
            },
        },
        methods: {
            resize() {
                let paddingWidth = 0;
                [ "left", "right" ].forEach((key) => {
                    const width = this.els[key] ? this.els[key].offsetWidth : 0;
                    if (width > paddingWidth) {
                        paddingWidth = width;
                    }
                });

                if (this.$el) {
                    this.$el.style.padding = `0 ${paddingWidth}px`;
                }
            },
        },
        ready() {
            this.els = {};
            [ "left", "body", "right" ].forEach((key) => {
                const className = `.nav-${key}`;
                this.els[key] = this.$el.querySelector(className);
            });

            // resize at first
            // this.resize();

            // window.addEventListener("resize", this.resize);
        },
    };

</script>

<style scoped>

    .nav {
        left: 0;
        right: 0;
        top: 0;
        height: 1.173333rem;
        line-height: 1.173333rem;
        padding: 0 1rem;
        background: #16a3a6;
        color: #fff;
        font-size: 16px;
        box-sizing: border-box;
        position: absolute;
    }

    [data-dpr="2"] .nav {
        font-size: 32px;
    }

    [data-dpr="3"] .nav {
        font-size: 48px;
    }

    .nav.light {
        background: transparent;
        color: #212121;
    }

    .nav.border-bottom {
        border-bottom: 1px solid #c9c9c9;
    }

    .nav-body {
        width: 100%;
        padding: 0 .133333rem;
        text-align: center;
        font-size: 17px;
        box-sizing: border-box;
    }

    [data-dpr="2"] .nav-body {
        font-size: 34px;
    }

    [data-dpr="3"] .nav-body {
        font-size: 51px;
    }

    .nav-left,
    .nav-right {
        top: 0;
        height: 100%;
        position: absolute;
    }

    .nav-left {
        left: 0;
        padding-left: .4rem;
    }

    .nav-right {
        right: 0;
        padding-right: .4rem;
    }

</style>
