<template>

    <div class="radio-list">
        <div
            v-for="text in texts"
            @click="select($index)"
            :class="[ (selected === $index) ? 'selected' : '' ]"
            class="radio-item">
            {{ text }}
            <span v-if="selected === $index" class="icon icon-selected"></span>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            items: {
                type: Array,
                required: true,
            },
            model: {
            },
        },
        data() {
            return {
                selected: null,
            };
        },
        watch: {
            model() {
                this.syncValue();
            },
        },
        computed: {
            texts() {
                return this.items.map(item => item.text);
            },
        },
        methods: {
            select(index) {
                this.selected = index;
                this.model = this.items[index].value;
            },
            syncValue() {
                for (let index = 0; index < this.items.length; index++) {
                    if (this.items[index].value === this.model) {
                        this.selected = index;
                        return;
                    }
                }
                this.selected = null;
            },
        },
        ready() {
            this.syncValue();
        },
    };

</script>

<style scoped>

    .radio-list {
        color: #212121;
        font-size: 11px;
        line-height: 2;
    }

    [data-dpr="2"] .radio-list {
        font-size: 22px;
    }

    [data-dpr="3"] .radio-list {
        font-size: 33px;
    }

    .radio-item {
        padding: .226667rem .4rem;
        border-bottom: 1px solid #c9c9c9;
        position: relative;
    }

    .radio-item.selected {
        color: #f98b49;
    }

    .icon-selected {
        right: .4rem;
        top: 50%;
        margin-top: -0.266667rem;
        position: absolute;
    }

</style>
