<template>

    <div class="search-bar">
        <div class="search-input-wrapper">
            <span class="icon icon-md icon-search-input"></span>
            <input
                v-model="searchKey"
                debounce="500"
                class="search-input"
                placeholder="输入课程名/教师名查询">
        </div>
        <a
            v-el:search-cancel
            @click="cancelSearch"
            class="search-cancel">
            取消
        </a>
    </div>

</template>

<script>

    export default {
        props: {
            searchKey: {
                type: String,
                twoWay: true,
            },
            cancelSearch: {
                type: Function,
                required: true,
            },
        },
        methods: {
            resize() {
                if (this.$el) {
                    this.$el.style.paddingRight = `${this.$els.searchCancel.offsetWidth}px`;
                    this.$el.parentElement.style.paddingTop = `${this.$el.offsetHeight}px`;
                }
            },
        },
        ready() {
            this.els = {};
            [ "left", "body", "right" ].forEach((key) => {
                const className = `.nav-${key}`;
                this.els[key] = this.$el.querySelector(className);
            });

            // resize at first
            // this.resize();

            // window.addEventListener("resize", this.resize);
        },
    };

</script>

<style scoped>

    .search-bar {
        left: 0;
        right: 0;
        top: 0;
        height: 1.173333rem;
        padding: 0 .2rem;
        padding-right: 1.333333rem;
        line-height: 1.173333rem;
        background: #16a3a6;
        color: #fff;
        font-size: 17px;
        box-sizing: border-box;
        position: absolute;
    }

    [data-dpr="2"] .search-bar {
        font-size: 34px;
    }

    [data-dpr="3"] .search-bar {
        font-size: 51px;
    }

    .search-input-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .icon-search-input {
        left: .2rem;
        height: 100%;
        position: absolute;
    }

    .search-input {
        width: 100%;
        padding-left: .8rem;
        font-size: 14px;
        line-height: 1.8;
        border: 0;
        outline: 0;
        background: #4ababc;
        border-radius: .133333rem;
        color: inherit;
        box-sizing: border-box;
    }

    [data-dpr="2"] .search-input {
        font-size: 28px;
    }

    [data-dpr="3"] .search-input {
        font-size: 42px;
    }

    .search-cancel {
        right: 0;
        top: 0;
        padding: 0 .2rem;
        color: inherit;
        position: absolute;
    }

</style>
