html,
body {
    height: 100%;
}

*::selection {
    background: rgba(255, 133, 63, .2);
}

a {
    opacity: .8;
    cursor: pointer;
}

a:hover {
    color: #d87f38;
    opacity: 1;
}

a:active {
    opacity: .6;
}

a[disabled],
a[disabled]:hover,
a[disabled]:active {
    opacity: none;
    cursor: default;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #d8d8d8;
    line-height: 1.6;
    box-sizing: border-box;
}

textarea {
    min-height: 60px;
    resize: none;
    display: block;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    border: 1px solid #8d8d8d;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-2px);
    transition: border .1s linear;
    appearance: none;
    cursor: pointer;
}

input[type=radio]:not([disabled]):hover,
input[type="radio"]:not([disabled]):checked {
    border-color: #ff7e33;
}

input[type="radio"]:not([disabled]):checked {
    border-width: 4px;
}

input[type="checkbox"]:not([disabled]) {
    width: 15px;
    height: 15px;
    border: 1px solid #8d8d8d;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-2px);
    transition: border .1s linear;
    appearance: none;
    cursor: pointer;
}

input[type=checkbox]:hover,
input[type="checkbox"]:checked {
    border-color: #ff7e33;
}

input[type="checkbox"]:checked {
    border-width: 4px;
}

.btn {
    margin: 0;
    padding: 0 .3em;
    padding-left: .6em;
    min-width: 4.5em;
    border-radius: 6px;
    color: #fff;
    line-height: 2;
    text-align: center;
    letter-spacing: .3em;
    border: none;
    outline: none;
    appearance: none;
    cursor: default;
}

.btn[disabled] {
    background: #bfbfbf;
}

.btn:not([disabled]) {
    cursor: pointer;
    opacity: .9;
}

.btn:not([disabled]):hover {
    opacity: 1;
}

.btn:not([disabled]):active {
    opacity: .7;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: 0;
    border-top: 1px solid #a9a9a9;
}

.bg-green {
    background-color: #01a44e;
}

.bg-orange {
    background-color: #ff5d00;
}

.bg-blue {
    background-color: #3e9fe3;
}

.fade {
    transition: opacity .3s ease;
}

.fade-show {
    opacity: 1;
}

.fade-hide {
    opacity: 0;
}

.text-bold {
    font-weight: 900;
}

.text-indent {
    text-indent: 2em;
}
