<template>

    <div class="truncate-text">
        <span class="text">
            {{{ computedText }}}
        </span>
        <template
            v-if="canFold">
            <span
                v-show="isFold">
                {{ ellipsis }}
            </span>
            <a @click="toggle"
                class="truncate-text-btn">
                {{ btnText }}
            </a>
        </template>
    </div>

</template>

<script>

    export default {
        props: {
            text: {
                type: String,
                required: true,
            },
            limit: {
                type: Number,
                default: 0,
            },
            ellipsis: {
                type: String,
                default: "...",
            },
            btnUnfoldText: {
                type: String,
                default: "点击展开",
            },
            btnFoldText: {
                type: String,
                default: "点击折叠",
            },
        },
        data() {
            return {
                isFold: true,
            };
        },
        watch: {
            text() {
                this.isFold = true;
            },
        },
        computed: {
            canFold() {
                return ((this.limit > 0) && (this.text.length > this.limit));
            },
            btnText() {
                return (this.isFold ? this.btnUnfoldText : this.btnFoldText);
            },
            computedText() {
                const last = this.isFold ? this.limit : this.text.length;
                return this.text
                    .slice(0, last)
                    .replace(/\n+/g, "<br>")
                    .replace(/\s+/g, "");
            },
        },
        methods: {
            toggle() {
                this.isFold = !this.isFold;
            },
        },
    };

</script>

<style scoped>

    .truncate-text > * {
        display: inline;
    }

    .truncate-text-btn {
        color: #f98a4a;
    }

</style>
