<template>

    <div
        @keyUp.enter="validate"
        class="login">
        <p :class="[ !!message ? 'fade-show' : 'fade-hide' ]"
            class="row fade form-message">
            {{ message }}
        </p>
        <div class="row form-row">
            <p class="form-label">学号</p>
            <input
                v-model="account.number"
                class="form-input"
                type="text"
                placeholder="这里输入学号"
                spellcheck="false">
        </div>
        <div class="row form-row">
            <p class="form-label">密码</p>
            <input
                v-model="account.password"
                class="form-input"
                type="password"
                placeholder="使用教务密码直接登录">
        </div>
        <div class="row form-link clearfix">
            <a @click="showDisclaimerPopup"
                class="underline float-left">
                免责声明
            </a>
            <a class="float-right"
                v-link="{ name: 'CoursePublicElective' }">
                随便看看
            </a>
        </div>
        <div class="row form-button">
            <a @click="validate"
                class="form-btn">
                登录
            </a>
        </div>
        <popup v-ref:popup>
            <p class="text-bold">
                淘课啦提醒你：在使用淘课啦前，请您务必仔细阅读并透彻理解本声明。您的使用行为将被视为对本声明全部内容的认可。
            </p>
            <p class="text-indent">
                1.淘课啦是自强网旗下的产品。自强网立足于用技术和团队协作无偿服务武大学子的生活、学习等各种场景。淘课啦与自强网立场保持一致。
            </p>
            <p class="text-indent">
                2.淘课啦上所有的课程评价来自于用户自发提供，不代表淘课啦立场。淘课啦运营团队将对用户生成的内容进行一定程度的审查，避免辱骂、污蔑、无意义灌水等恶劣现象，从而为所有用户提供一个更客观、实用、干净的产品。
            </p>
            <p class="text-indent">
                3.淘课啦尊重并保护所有使用淘课啦用户的个人隐私权，您所有的个人资料，非经您亲自许可或根据相关法律、法规的强制性规定，淘课啦不会主动地泄露给第三方，也不会用于任何淘课啦产品功能之外的用途。淘课啦团队运维工作人员将通过专业的加密传输、加密存储等技术手段全力保护您的个人隐私。
            </p>
            <p class="text-indent">
                4.淘课啦上信息、资料皆来源于运营团队收集及用户上传，任何个人、单位发现有侵权行为，应该及时向淘课啦反映，淘课啦运营团队将在查证后删除相关数据。
            </p>
        </popup>
    </div>

</template>

<script>

    import Popup from "module/pc/Popup";

    import { message } from "config";

    import {
        logIn,
        showPopup,
        hidePopup,
        getLoginStatus,
    } from "store/action";

    export default {
        components: {
            Popup,
        },
        data() {
            return {
                account: {
                    number: "",
                    password: "",
                },
                message: null,
            };
        },
        vuex: {
            actions: {
                logIn,
                showPopup,
                hidePopup,
                getLoginStatus,
            },
        },
        methods: {
            showDisclaimerPopup() {
                this.$refs.popup.show({
                    title: "免责声明",
                });
            },
            validate() {
                this.message = null;
                if (!/^\d{13}$/.test(this.account.number)) {
                    this.message = "学号必须为13位数字！";
                    return;
                }
                if (this.account.password.length === 0) {
                    this.message = "密码不能为空哦！";
                    return;
                }

                this.showPopup({
                    contents: "登录中...",
                    still: true,
                });

                this.logIn(this.account)
                    .then(() => {
                        this.hidePopup();
                        this.$route.router.go(this.$route.query.next || "/");
                    })
                    .catch(error => {
                        this.hidePopup();
                        this.message = error.status ? error.status.message : message.error.unknown;
                    });
            },
        },
    };

</script>

<style scoped>

    .login {
        width: 285px;
        margin: 0 auto;
    }

    .row:not(:first-of-type) {
        margin-top: 20px;
    }

    .form-message {
        height: 30px;
        color: #ee8e6d;
        line-height: 1;
    }

    .form-row {
        color: #6c5e5c;
        height: 40px;
        font-size: 18px;
        position: relative;
    }

    .form-label {
        left: 0;
        top: 10px;
        padding: 0 15px;
        border-right: 1px solid #c6c5c5;
        color: #6c5e5c;
        line-height: 20px;
        letter-spacing: 0.2em;
        position: absolute;
    }

    .form-input {
        width: 100%;
        height: 100%;
        padding-left: 90px;
        line-height: 40px;
        border: 0;
        background: #f9f7f7;
        box-sizing: border-box;
    }

    .form-link {
        color: #a1aea4;
        font-size: 14px;
    }

    .form-btn,
    .form-btn:hover {
        width: 104px;
        margin: 0 auto;
        padding: 0.6em 0.5em;
        background-color: #ff853f;
        border-radius: 6px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        display: block;
    }

    .popup p {
        margin: 12px 0;
        color: #888;
        font-size: 12px;
        line-height: 1.6;
        letter-spacing: 1px;
    }

</style>
