<template>

    <div class="page-body">
        <template v-if="isIPhone">
            <navigation-bar>
                <back slot="nav-left" :back="back"></back>
                <span slot="nav-body">登陆</span>
            </navigation-bar>
        </template>
        <div
            @keyup.enter.stop.prevent="tryLoggingIn"
            class="login-form clearfix">
            <p v-if="!isIPhone" class="login-title">尚未登录</p>
            <div class="input-group">
                <div
                    :class="[ hasFocused[0] ? 'active' : '' ]"
                    class="input-row">
                    <p v-if="!isIPhone" class="input-label">账号</p>
                    <input
                        v-model="account.number"
                        @focus="focus(0)"
                        @blur="blur(0)"
                        class="input"
                        type="number"
                        placeholder="请输入学号"
                        autofocus>
                </div>
                <div
                    :class="[ hasFocused[1] ? 'active' : '' ]"
                    class="input-row">
                    <p v-if="!isIPhone" class="input-label">密码</p>
                    <input
                        v-model="account.password"
                        @focus="focus(1)"
                        @blur="blur(1)"
                        class="input"
                        type="password"
                        placeholder="请输入教务密码">
                </div>
            </div>
            <p :class="hasShowedError ? 'active' : ''"
                class="error-tip">{{ errorTip }}</p>
            <a @click="tryLoggingIn"
                class="login-btn">
                {{ btnText }}
            </a>
        </div>
    </div>

</template>

<script>

    import Back from "module/webapp/Back";
    import NavigationBar from "module/webapp/NavigationBar";

    import { isIPhone } from "plugin/environment";

    import { hasLoggedIn } from "store/getter";
    import {
        back,
        logIn,
    } from "store/action";

    import {
        isHybrid,
        hybridHandler,
    } from "native";

    export default {
        components: {
            Back,
            NavigationBar,
        },
        data() {
            return {
                isIPhone,
                isSubmitting: false,
                account: {
                    number: "",
                    password: "",
                },
                errorTip: "别输错了哦~",
                hasSendedRequest: false,
                hasShowedError: false,
                hasFocused: [],
                showErrorDuration: 1500,
                timeOutInstance: null,
            };
        },
        vuex: {
            getters: { hasLoggedIn },
            actions: {
                back,
                logIn,
            },
        },
        computed: {
            btnText() {
                return (this.isSubmitting ? "正在登录..." : "登录");
            },
        },
        methods: {
            focus(index) {
                this.hasFocused.$set(index, true);
            },
            blur(index) {
                this.hasFocused.$set(index, false);
            },
            startSubmitting(promise) {
                if (promise.then) {
                    this.isSubmitting = true;
                    promise.then(
                        this.endSubmitting,
                        this.endSubmitting
                    );
                }
            },
            endSubmitting() {
                this.isSubmitting = false;
            },
            showError(errorTip) {
                if (this.hasShowedError) {
                    this.hasShowedError = false;
                    window.clearTimeout(this.timeOutInstance);
                }

                this.hasShowedError = true;
                this.errorTip = errorTip;
                this.timeOutInstance = window.setTimeout(
                    () => (this.hasShowedError = false),
                    this.showErrorDuration
                );
            },
            tryLoggingIn() {
                if (this.isSubmitting) {
                    return;
                }

                this.hasShowedError = false;

                const { number, password } = this.account;
                if (!/^\d{13}$/.test(number)) {
                    this.showError("学号必须为13位数字哦~");
                    return;
                }

                if (password.length === 0) {
                    this.showError("密码不能为空哦~");
                    return;
                }

                this.startSubmitting(
                    this.logIn(this.account)
                        .then(() => {
                            if (isHybrid) {
                                hybridHandler.saveAccount(number, password);
                            }
                            this.back();
                        })
                        .catch(() => this.showError("请输入正确的学号和密码哦~"))
                );
            },
        },
    };

</script>

<style scoped>

    [data-device="iphone"] .page-body {
        padding-top: 1.173333rem;
    }

    [data-device="other"] .page-body {
        background: #ccc;
    }

    .login-form {
        font-size: 17px;
    }

    [data-dpr="2"] .login-form {
        font-size: 34px;
    }

    [data-dpr="3"] .login-form {
        font-size: 51px;
    }

    [data-device="iphone"] .login-form {
        padding: 0 1.173333rem;
        padding-top: 1.666667rem;
    }

    [data-device="other"] .login-form {
        left: 50%;
        top: 50%;
        width: 280px;
        padding: .266667rem .533333rem;
        background: #fff;
        font-size: 14px;
        border-radius: .066667rem;
        box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, .15);
        transform: translate(-50%, -50%);
        position: absolute;
        box-sizing: border-box;
    }

    .login-title {
        color: #666;
        line-height: 2;
        text-align: center;
        font-size: 16px;
    }

    [data-device="other"] .input-group {
        padding: .2rem 0;
    }

    [data-device="other"] .input-row:not(:first-of-type) {
        margin-top: .266667rem;
    }

    .active > .input-label {
        color: #00838f;
        transition: color .3s ease;
    }

    .input {
        width: 100%;
        outline: 0;
        border: 0;
        font-size: inherit;
        line-height: 1.5;
        display: block;
        box-sizing: border-box;
    }

    [data-device="iphone"] .input {
        padding: 0 .5rem;
        color: #000;
        background: #fff;
        line-height: 2.5;
    }

    [data-device="iphone"] .input-row:first-of-type > .input {
        border-bottom: 1px solid #c9c9c9;
        border-top-left-radius: .2rem;
        border-top-right-radius: .2rem;
    }

    [data-device="iphone"] .input-row:last-of-type > .input {
        border-top: 1px transparent #c9c9c9;
        border-bottom-left-radius: .2rem;
        border-bottom-right-radius: .2rem;
    }

    [data-device="other"] .input {
        margin-top: .2rem;
        border-bottom: 1px solid transparent;
        color: #666;
        transition: border-color .3s ease;
    }

    [data-device="other"] .active > .input {
        border-bottom-color: #00838f;
    }

    .input::placeholder {
        color: #c7c7cd;
        font-size: 14px;
    }

    [data-dpr="2"] .input::placeholder {
        font-size: 28px;
    }

    [data-dpr="3"] .input::placeholder {
        font-size: 42px;
    }

    .error-tip {
        opacity: 0;
        transition: opacity .5s ease;
    }

    .error-tip.active {
        opacity: 1;
    }

    [data-device="iphone"] .error-tip {
        color: red;
        font-size: 14px;
        line-height: 3;
    }

    [data-device="iphone"][data-dpr="2"] .error-tip {
        font-size: 28px;
    }

    [data-device="iphone"][data-dpr="3"] .error-tip {
        font-size: 42px;
    }

    [data-device="other"] .error-tip {
        left: 50%;
        top: 100%;
        padding: .2rem .4rem;
        background: #fff;
        border-radius: .2rem;
        line-height: 2.5;
        white-space: nowrap;
        transform: translate(-50%, 1rem);
        position: absolute;
    }

    .login-btn {
        outline: 0;
        border: 0;
        font-size: inherit;
    }

    [data-device="iphone"] .login-btn {
        width: 100%;
        border-radius: .133333rem;
        background: #16a3a6;
        color: #fff;
        line-height: 2.4;
        letter-spacing: .4rem;
        text-align: center;
        display: block;
    }

    [data-device="other"] .login-btn {
        float: right;
        padding: .066667rem .133333rem;
        color: #00838f;
        font-size: 16px;
    }

</style>
